{% extends "base_layout.html" %}
{% load staticfiles %}

{% block title %}RepoFunnel: Filter the Flood{% endblock %}
{% block favicon %}{% static "repofunnel/img/favicon.ico" %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
    </ol>
{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}
{% block footer %}{% endblock %}

{% block patternfly_headers %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- iPad retina icon -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "pf/img/apple-touch-icon-precomposed-152.png" %}">
    <!-- iPad retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "pf/img/apple-touch-icon-precomposed-144.png" %}">
    <!-- iPad non-retina icon -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "pf/img/apple-touch-icon-precomposed-76.png" %}">
    <!-- iPad non-retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "pf/img/apple-touch-icon-precomposed-72.png" %}">
    <!-- iPhone 6 Plus icon -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "pf/img/apple-touch-icon-precomposed-180.png" %}">
    <!-- iPhone retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "pf/img/apple-touch-icon-precomposed-114.png" %}">
    <!-- iPhone non-retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "pf/img/apple-touch-icon-precomposed-57.png" %}">
    <link href="{% static "pf/css/patternfly.min.css" %}" rel="stylesheet" media="screen, print">
    <link href="{% static "pf/css/patternfly-additions.min.css" %}" rel="stylesheet" media="screen, print">
    <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "components/datatables/media/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "pf/js/patternfly.min.js" %}"></script>
{% endblock %}
