{% extends "base.html" %}

{% block content %}
<h2>Remote COPR repos:</h2>

<table id="remote_repos" class="datatable table table-striped table-bordered">
    <thead>
        <tr>
            <th>Repository</th>
            <th>Description</th>
            <th>Package Repositories</th>
        </tr>
    </thead>
    <tbody>
    {% if remote_repos %}
        {% for repo in remote_repos %}
            <tr>
                <td><a href="{{ repo.display_url }}/">{{ repo.name }}</a></td>
                <td>{{ repo.description }}</td>
                <td><ul>
                    {% if repo.yum_repos %}
                        {% for repo_name, repo_url in repo.yum_repos.items %}
                            <li><a href="{{ repo_url }}/">{{ repo_name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>No repos are defined.</li>
                    {% endif %}
                </ul></td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No remote sources are available.</p>
    {% endif %}
    </tbody>
</table>
<h2>Remote COPR repos (via REST API):</h2>

<table id="remote_repos_rest" class="datatable table table-striped table-bordered"></table>

<h2>Local Pulp repos:</h2>
<table id="local_repos" class="datatable table table-striped table-bordered"></table>
{% if local_repos %}
    <ul>
    {% for repo in local_repos %}
        <li>{{ repo }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No local targets are defined.</p>
{% endif %}
<script>
    // Initialize Datatables
    $(document).ready( function() {
        $('#remote_repos').dataTable();
        $('#remote_repos_rest').dataTable( {
            ajax: "{{ remote_repo_url|safe }}",
            columns: [
                { title: "Repository", data: "attributes.name",
                  render: function ( data, type, row ) {
                    // For display, format as a hyperlink
                    if ( type === 'display') {
                        return '<a href="'+row.attributes.display_url+'">'+data+'</a>'
                    }
                    // Otherwise return unmodified
                    return data;
                  }
                },
                { title: "Description", data: "attributes.description" },
                { title: "Package Repositories", data: "attributes.yum_repos",
                  render: function ( data, type, row ) {
                    // For display, format as a list of repp hyperlinks
                    if ( type === 'display') {
                        // Presumably there's a nicer way to do this...
                        var output = [];
                        output.push('<ul>');
                        $.each(data, function(repo_name, repo_url) {
                                    output.push('<li><a href="');
                                    output.push(repo_url);
                                    output.push('">');
                                    output.push(repo_name);
                                    output.push('</a></li>');
                        });
                        output.push('</ul>');
                        return output.join('')
                    }
                    // Otherwise return unmodified
                    return data;
                  }
                }
            ]
        } );
        var None = null; // Quick hack pending replacement with a REST call
        var local_repo_data = {{ local_repos|safe }};
        $('#local_repos').DataTable( {
            data: local_repo_data,
            columns: [
                { title: "ID", data: "id" },
                { title: "Repository", data: "display_name" },
                { title: "Description", data: "description" },
                { title: "Notes", data: "notes" }
            ]
        } );
    });
</script>
{% endblock %}
